form(action='/app/send', method="post", enctype="multipart/form-data" )
    input(type="file", id="file1", name="file1")
    br
    button(type="submit", id="bt1", name="bt1") upload
//
   Created by AstaTus on 2016/2/16.



